In [1]:
import pandas as pd
import numpy as np

In [2]:
avg_wg = pd.read_csv('../old_data/average_wages.csv')
emp_rate = pd.read_csv('../old_data/EMP_rate.csv')
gdp_cap_contr = pd.read_csv('../old_data/GDPCAPCONTR.csv')
gdp_hrs_wkd = pd.read_csv('../old_data/GDPhoursWorked.csv')
hrs_wkd =  pd.read_csv('../old_data/hours_worked.csv')
inc_ineq = pd.read_csv('../old_data/INCOMEINEQ.csv')
pvty = pd.read_csv('../old_data/POVERTY.csv')
hrs_exit_pvty = pd.read_csv('../old_data/workHours_exitPoverty.csv')

In [3]:
avg_wg['Flag Codes'].unique()

array([nan])

In [4]:
EU = ['AUT', 'BEL', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'IRL', 'ITA', 'LUX', 'NLD', 'POL', 'PRT', 'SVK', 'ESP', 'SWE','EST', 'SVN', 'LVA', 'LTU'] #no croatia, bulgaria, romania, malta, cyprus

notEU = ['AUS','CAN','KOR','MEX','NOR','CHE','GBR','USA','ISR','ISL','NZL','CHL']

# Average Wage

In [5]:
avg_wg_reduce = avg_wg[['LOCATION','TIME','Value']]
avg_wg_reduce.rename(columns = {'LOCATION':'country', 'TIME':'Year', 'Value':'Average Wage (USD)'}, inplace = True)
avg_wg_EU = avg_wg_reduce[avg_wg_reduce['country'].isin(EU)]
avg_wg_NEU = avg_wg_reduce[avg_wg_reduce['country'].isin(notEU)]
avg_wg_EU.reset_index(drop = True, inplace = True)
avg_wg_NEU.reset_index(drop = True, inplace = True)

c:\Users\basti\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [6]:
avg_wg_EU.to_csv('../data/avg_wg_EU.csv',na_rep = 'NaN',index=False)
avg_wg_NEU.to_csv('../data/avg_wg_NEU.csv',na_rep = 'NaN',index=False)

# Employment rate

In [7]:
emp_rate_reduced = emp_rate[emp_rate['SUBJECT'] == 'TOT'] # we only select total for now
emp_rate_reduced = emp_rate_reduced[emp_rate_reduced['MEASURE'] == 'PC_WKGPOP'] # we only select PC_WKGPOP to have a relative measure instead of an absolute values
emp_rate_reduced = emp_rate_reduced[emp_rate_reduced['FREQUENCY'] == 'A']# we only select the yearly data, to get a simpler visualisation
emp_rate_reduced = emp_rate_reduced[['LOCATION','TIME','Value']]
emp_rate_reduced.rename(columns = {'LOCATION':'country', 'TIME':'Year', 'Value':'Employment Rate (no unit)'}, inplace = True)

In [8]:
emp_rate_reduced_EU = emp_rate_reduced[emp_rate_reduced['country'].isin(EU)]
emp_rate_reduced_NEU = emp_rate_reduced[emp_rate_reduced['country'].isin(notEU)]
emp_rate_reduced_EU.reset_index(drop = True, inplace = True)
emp_rate_reduced_NEU.reset_index(drop = True, inplace = True)

In [9]:
emp_rate_reduced_EU.to_csv('../data/emp_rate_reduced_EU.csv',na_rep = 'NaN',index=False)
emp_rate_reduced_NEU.to_csv('../data/emp_rate_reduced_NEU.csv',na_rep = 'NaN',index=False)

# GDP per hours worked

In [10]:
gdp_hrs_wkd_reduced = gdp_hrs_wkd[gdp_hrs_wkd['MEASURE']== 'USD']
gdp_hrs_wkd_reduced = gdp_hrs_wkd_reduced[['LOCATION','TIME', 'Value']]
gdp_hrs_wkd_reduced.rename(columns = {'LOCATION':'country', 'TIME':'Year', 'Value':'GDP per hours worked (USD/hour)'}, inplace = True)

In [11]:
gdp_hrs_wkd_reduced_EU = gdp_hrs_wkd_reduced[gdp_hrs_wkd_reduced['country'].isin(EU)]
gdp_hrs_wkd_reduced_NEU = gdp_hrs_wkd_reduced[gdp_hrs_wkd_reduced['country'].isin(notEU)]
gdp_hrs_wkd_reduced_EU.reset_index(drop = True, inplace = True)
gdp_hrs_wkd_reduced_NEU.reset_index(drop = True, inplace = True)

In [12]:
gdp_hrs_wkd_reduced_EU.to_csv('../data/gdp_hrs_wkd_reduced_EU.csv',na_rep = 'NaN',index=False)
gdp_hrs_wkd_reduced_NEU.to_csv('../data/gdp_hrs_wkd_reduced_NEU.csv',na_rep = 'NaN',index=False)

# Hours worked

In [13]:
hrs_wkd_reduced = hrs_wkd[['LOCATION','TIME', 'Value']]
hrs_wkd_reduced.rename(columns = {'LOCATION':'country', 'TIME':'Year', 'Value':'Hours worked per year (hours/year)'}, inplace = True)

In [14]:
hrs_wkd_reduced_EU = hrs_wkd_reduced[hrs_wkd_reduced['country'].isin(EU)]
hrs_wkd_reduced_NEU = hrs_wkd_reduced[hrs_wkd_reduced['country'].isin(notEU)]
hrs_wkd_reduced_EU.reset_index(drop = True, inplace = True)
hrs_wkd_reduced_NEU.reset_index(drop = True, inplace = True)

In [15]:
hrs_wkd_reduced_EU.to_csv('../data/hrs_wkd_reduced_EU.csv',na_rep = 'NaN',index=False)
hrs_wkd_reduced_NEU.to_csv('../data/hrs_wkd_reduced_NEU.csv',na_rep = 'NaN',index=False)

# Income Inequality

In [16]:
inc_ineq_reduced = inc_ineq[inc_ineq['SUBJECT']=='GINI']
inc_ineq_reduced = inc_ineq_reduced[['LOCATION','TIME', 'Value']]
inc_ineq_reduced.rename(columns = {'LOCATION':'country', 'TIME':'Year', 'Value':'Income Inequality (no unit)'}, inplace = True)

In [17]:
inc_ineq_reduced_EU = inc_ineq_reduced[inc_ineq_reduced['country'].isin(EU)]
inc_ineq_reduced_NEU = inc_ineq_reduced[inc_ineq_reduced['country'].isin(notEU)]
inc_ineq_reduced_EU.reset_index(drop = True, inplace = True)
inc_ineq_reduced_NEU.reset_index(drop = True, inplace = True)

In [18]:
inc_ineq_reduced_EU.to_csv('../data/inc_ineq_reduced_EU.csv',na_rep = 'NaN',index=False)
inc_ineq_reduced_NEU.to_csv('../data/inc_ineq_reduced_NEU.csv',na_rep = 'NaN',index=False)

# Poverty

In [19]:
pvty['INDICATOR'].unique()
pvty['SUBJECT'].unique()

array(['0_17', 'TOT', '18_65', '66MORE'], dtype=object)

In [20]:
pvty_reduced = pvty[['LOCATION','SUBJECT','TIME','Value']]
pvty_reduced.rename(columns = {'LOCATION':'country', 'TIME':'Year', 'Value':'Poverty rate (no unit)'}, inplace = True)
pvty_reduced_017 = pvty_reduced[pvty_reduced['SUBJECT'] == '0_17']
pvty_reduced_TOT = pvty_reduced[pvty_reduced['SUBJECT'] == 'TOT']
pvty_reduced_18_65 = pvty_reduced[pvty_reduced['SUBJECT'] == '18_65']
pvty_reduced_66MORE = pvty_reduced[pvty_reduced['SUBJECT'] == '66MORE']

pvty_reduced_017 = pvty_reduced_017[['country','Year','Poverty rate (no unit)']]
pvty_reduced_TOT = pvty_reduced_TOT[['country','Year','Poverty rate (no unit)']]
pvty_reduced_18_65 = pvty_reduced_18_65[['country','Year','Poverty rate (no unit)']]
pvty_reduced_66MORE = pvty_reduced_66MORE[['country','Year','Poverty rate (no unit)']]

In [21]:
pvty_reduced_017_EU = pvty_reduced_017[pvty_reduced_017['country'].isin(EU)]
pvty_reduced_TOT_EU = pvty_reduced_TOT[pvty_reduced_TOT['country'].isin(EU)]
pvty_reduced_18_65_EU = pvty_reduced_18_65[pvty_reduced_18_65['country'].isin(EU)]
pvty_reduced_66MORE_EU = pvty_reduced_66MORE[pvty_reduced_66MORE['country'].isin(EU)]
pvty_reduced_017_NEU = pvty_reduced_017[pvty_reduced_017['country'].isin(notEU)]
pvty_reduced_TOT_NEU = pvty_reduced_TOT[pvty_reduced_TOT['country'].isin(notEU)]
pvty_reduced_18_65_NEU = pvty_reduced_18_65[pvty_reduced_18_65['country'].isin(notEU)]
pvty_reduced_66MORE_NEU = pvty_reduced_66MORE[pvty_reduced_66MORE['country'].isin(notEU)]

In [22]:
pvty_reduced_017_EU.to_csv('../data/pvty_reduced_017_EU.csv', na_rep = 'NaN', index=False)
pvty_reduced_TOT_EU.to_csv('../data/pvty_reduced_TOT_EU.csv', na_rep = 'NaN', index=False)
pvty_reduced_18_65_EU.to_csv('../data/pvty_reduced_18_65_EU.csv', na_rep = 'NaN', index=False)
pvty_reduced_66MORE_EU.to_csv('../data/pvty_reduced_66MORE_EU.csv', na_rep = 'NaN', index=False)
pvty_reduced_017_NEU.to_csv('../data/pvty_reduced_017_NEU.csv', na_rep = 'NaN', index=False)
pvty_reduced_TOT_NEU.to_csv('../data/pvty_reduced_TOT_NEU.csv', na_rep = 'NaN', index=False)
pvty_reduced_18_65_NEU.to_csv('../data/pvty_reduced_18_65_NEU.csv', na_rep = 'NaN', index=False)
pvty_reduced_66MORE_NEU.to_csv('../data/pvty_reduced_66MORE_NEU.csv', na_rep = 'NaN', index=False)

# Hours to exit poverty

In [23]:
hrs_exit_pvty['INDICATOR'].unique()
hrs_exit_pvty['SUBJECT'].unique() # 'SNGL2CHLD', 'SNGLNOCHLD', 'UNEMP_COUPL2CHLD', 'UNEMP_COUPLNOCHLD'
hrs_exit_pvty['MEASURE'].unique() # 'HR_67PC_AVEWAGE', 'HR_AVEWAGE', 'HR_MINWAGE'

array(['HR_67PC_AVEWAGE', 'HR_AVEWAGE', 'HR_MINWAGE'], dtype=object)

In [24]:
hrs_exit_pvty

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,WORKEXPOV,SNGL2CHLD,HR_67PC_AVEWAGE,A,2001,1,NaN
1,AUS,WORKEXPOV,SNGL2CHLD,HR_67PC_AVEWAGE,A,2002,2,NaN
2,AUS,WORKEXPOV,SNGL2CHLD,HR_67PC_AVEWAGE,A,2003,2,NaN
3,AUS,WORKEXPOV,SNGL2CHLD,HR_67PC_AVEWAGE,A,2004,1,NaN
4,AUS,WORKEXPOV,SNGL2CHLD,HR_67PC_AVEWAGE,A,2005,4,NaN
...,...,...,...,...,...,...,...,...
8691,RUS,WORKEXPOV,UNEMP_COUPLNOCHLD,HR_AVEWAGE,A,2018,27,NaN
8692,RUS,WORKEXPOV,SNGL2CHLD,HR_MINWAGE,A,2018,67,NaN
8693,RUS,WORKEXPOV,SNGLNOCHLD,HR_MINWAGE,A,2018,80,NaN
8694,RUS,WORKEXPOV,UNEMP_COUPL2CHLD,HR_MINWAGE,A,2018,80,NaN
8695,RUS,WORKEXPOV,UNEMP_COUPLNOCHLD,HR_MINWAGE,A,2018,80,NaN